absl-py
astunparse
babel
bcrypt
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
flask-babel
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
flatbuffers
fonttools
gast
google-pasta
greenlet
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
narwhals
numpy
opt_einsum
optree
packaging
pandas
pillow
plotly
protobuf
Pygments
pyparsing
python-dateutil
pytz
reportlab
requests
rich
scikit-learn
scipy
setuptools
six
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
xgboost
