
babel
bcrypt
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
flask-babel
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
fonttools
greenlet
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
namex
narwhals
numpy
packaging
pandas
pillow
plotly
Pygments
pyparsing
python-dateutil
pytz
reportlab
requests
rich
scikit-learn
scipy
setuptools
six
SQLAlchemy
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
xgboost
